<h1>Liste des avis des formations</h1>
<table border="1">
    <tr>
        <td>id</td>
        <td>id Condidat</td>
        <td>id formation</td>
        <td>avis</td>
    </tr>

    {% for a in avis %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.CondidatId }}</td>
            <td>{{ a.formationId }}</td>
            <td>{{ a.avis }}</td>
        </tr>
    {% endfor %}
</table>